body{
  background-color: rgb(12, 17, 39);
  color: white;
  padding: 0 30px;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3em;
}

#inicio{
  font-size: 4em;
  text-align:center;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p strong{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:700;
}

a{
  color:currentColor;
  text-decoration: none;
}

.menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-superior{
  background-color: rgb(218, 168, 33);
}

.menu-inferior{
  background-color: rgb(104, 102, 96);
}

.menu ul li{
  display: inline-block;
}

.menu ul li a{
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
}

.menu ul li a:hover{
  background-color: rgb(189, 146, 27);
}

.meu_nome{
  text-align: center;
}

#foto-perfil{
  float:left;
  height: 200px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.image-description{
  height: 300px;
}

#quem_sou{
  
}










div{
  border: 2px solid green;
}